.measure-wide {
    max-width: 80%;
    /* text-align: justify; */
}
.equipo {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    align-items: center;
}

@media (min-width: 700px) {
    .equipo { grid-template-columns: repeat(2, 1fr); }
    .equipo img {max-width: 300px}
}

.equipo div {
    text-align: center;
}

